/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #f7f7f7, #eaeaea);
  color: #333333;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.section {
  padding: 50px 0;
}

.section-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Header */
.hero {
  background: url("https://res.cloudinary.com/kenobi22v/image/upload/v1686279929/pexels-photo-3201922_dr1wvl.jpg");
  color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 450px;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgba(96, 96, 96, 0.49);
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(96, 96, 96, 0.3);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}
.nav-links a:hover {
  color: gold;
}

/* Hero Content */
.hero-content {
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(96, 96, 96, 0.38);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.4px);
  -webkit-backdrop-filter: blur(8.4px);
  border: 1px solid rgba(96, 96, 96, 0.3);
  padding: 20px;
}

.hero-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-subtitle {
  font-size: 18px;
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  background-color: #ffffff;
  color: #1595f1;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s;
}
.cta-button:hover {
  background-color: goldenrod;
  color: darkblue;
}

/*About*/
.container-about {
  margin: 0 auto;
  width: 900px;
}

/* Menu */
.menu-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 200px;
}

.menu-item-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.menu-item-image:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.menu-item-content {
  flex: 1;
}

.menu-item-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.menu-item-description {
  font-size: 16px;
  margin-bottom: 10px;
  min-height: 100px;
}

.menu-item-price {
  display: inline-block;
  background-color: #ffffff;
  color: #1595f1;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 16px;
  width: 80px;
  text-align: center;
}

/* Contact Form */
.container-form {
  width: 900px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.myForm input,
.myForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}

.myForm textarea {
  height: 120px;
}

.myForm button {
  display: inline-block;
  background-color: #1595f1;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.myForm button:hover {
  background-color: #1280c5;
}

/* Footer */
.footer {
  background: linear-gradient(to bottom, #1595f1, #87ceeb);
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

@media screen and (min-width: 300px) and (max-width: 768px) {
  .hero {
    padding: 20px;
  }
  .hero-title {
    font-size: 24px;
  }
  .navbar {
    display: none;
  }
  .about,
  .container-about,
  .container-form {
    width: 300px;
  }
  .container {
    flex-direction: column;
  }
  .menu-item {
    width: 100%;
  }
  .menu-item img {
    width: 100%;
  }
  .img-burger-dekstop {
    display: none;
  }
}
